<div id="homeground">
    <header>
        <h1 id="here">Welcome to Your Bank</h1>
        <div class="info">
            <h2 >Banking Made Easy</h2>
            <p>Our banking website provides a convenient platform for all your banking needs. From creating an account to managing transactions, we've got you covered.</p>
        </div>
    </header>
    <div class="content">
        
        <div class="cta">
            <div class="button-container">
                <a href="/create" class="btn">Create Account</a>
                <img src="https://mail.google.com/mail/u/0?ui=2&ik=d264ccb8ff&attid=0.1&permmsgid=msg-a:r6326599461251287452&th=18ebd43d3a493541&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9P6crlk5LFDKtYf8KftoFwC2xAm8BcpgVop86tYOCSO1uLMnRHWuYtpBfi0ddxtNCz6kJ1IotHu8b_x4TygTVK56esntqnwbyF3zMR-EXlE90Mseaoq3BAp7Y&disp=emb&realattid=ii_luqt7dmd0" alt="Create Account Image" class="button-img">
            </div>
            <div class="button-container">
                <a href="/transaction" class="btn">Make Transactions</a>
                <img src="https://mail.google.com/mail/u/0?ui=2&ik=d264ccb8ff&attid=0.2&permmsgid=msg-a:r6326599461251287452&th=18ebd43d3a493541&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ93dtXn2Ehn4ujmk4sORWhVHcfMV_cddzh6dpbpKAqJQ2kg1U7C_iCLUu0jGsmNUY3uWP1cXmq_PE7G2EirC_YUrSNzTRJbhvDVmOien-tw5trhX3e2zP8tRF8&disp=emb&realattid=ii_luqt9p021" alt="Make Transactions Image" class="button-img">
            </div>
            <div class="button-container">
                <a href="/history" class="btn">Transaction History</a>
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/transaction-history-report-3159828-2631920.png?f=webp" alt="Transaction History Image" class="button-img">
            </div>
        </div>
    </div>
</div>
